@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    oklch(92.9% 0.013 255.508),
    white
  );
  font-family: "Roboto", system-ui, sans-serif;
  font-weight: 400;
}

input {
  margin: 1rem;
  padding: 0.25rem;
  border: 2px solid grey;
  border-radius: 0.25rem;
  transition: border-color 0.25s ease;
}

input:focus {
  border-color: oklch(48.8% 0.243 264.376);
  outline: none;
}

select {
  border: 2px solid grey;
  border-radius: 6px;
  margin: 1rem;
  padding: 0.25rem;
}
