@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .btn {
    @apply w-fit rounded-md py-2 px-4 transition-colors duration-200 ease-out;
  }
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    rgba(191, 191, 230, 0.91),
    white
  );
  font-family: "Roboto", system-ui, sans-serif;
  font-weight: 400;
}

input:focus {
  border-color: black;
  outline: none;
}
